<div class="container-fluid row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img id="fotoPerfil" src="../../../assets/MI-FOTO.jpg" alt="Foto de Carolina Maza">
        <p id="nombre"> Carolina Fernanda Maza Sasiuk </p>
        <p id="titulo"> Full Stack Developer Trainee </p>
    </div>        
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 texto">
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam error non impedit repellendus nulla, similique, sequi porro ullam sapiente ipsum velit earum nihil perspiciatis iusto? Aspernatur laudantium quasi doloremque a.</p>
    </div>
</div>