<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm 12 col-md-7 col-lg-7 parte1">
            <h2>Aplicación web full stack</h2>
            <p>El presente portfolio ha sido desarrollado en el marco del Programa "Argentina programa". Consiste en la incorporación del frontend y backend. </p>
            <br>
            <p>Fecha de realización: Año 2022</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/LETRA-C.png" alt="Proyecto 1" class="img-fluid img-proyecto">
        </div>
    </div>
</div>