.row {
    padding: 20px;
    background-color:rgb(231, 212, 181);
    
}

.contenedor {
    width: auto;
}

.parte1, .parte2 {
    display: inline-block;
    text-align: justify;
}

h1{
    background-color: rgba(242, 215, 217, 0.699);
}

.img-proyecto {
 box-shadow: 10px 10px 20px black;
 height: 200px;
}

