<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm 12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto 1</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis a fugiat id deserunt quam ex, eos
                laudantium laboriosam soluta dolorum voluptatum quibusdam atque beatae! Incidunt dolorum doloribus
                inventore quidem provident?</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/LETRA-C.png" alt="Proyecto 1" class="img-fluid img-proyecto">
        </div>
    </div>
</div>