.row {
    padding: 10px;
    background-color:rgb(231, 212, 181);
    color:black; 
    font-size:medium; 
    display: flex;
    flex-direction:column;
    text-align: center;
    box-shadow: 0px 0px 5px white;
}