<div class="row">
    <div class="container">
            <div class="logoAP">
                <img src="../../../assets/arg-programa.png" alt="logoAP">
            </div>
            <div class="logoRedes">
                <a href=""><img src="../../../assets/icons8-facebook-500.png" alt="logoFacebook"></a>
                <a href=""><img src="../../../assets/icons8-instagram-500.png" alt="logoInstagram"></a>
                <a href=""><img src="../../../assets/icons8-linkedin-500.png" alt="logoLinkedin"></a>
                <a href=""><img src="../../../assets/icons8-github-500.png" alt="logoGitHub"></a>
            </div>
            <button type="button" class="btn btn-outline-dark">Login</button>
    </div>
</div>