<div class="row">
  <div class="container">
    <div>
      <img
        class="logoAP"
        src="../../../assets/arg-programa.png"
        rel="noreferrer noopener"
        alt="logoAP"
      />
    </div>
    <div class="logoRedes">
      <a
        href="https://www.facebook.com/Caromsasiuk"
        target="_blank"
        rel="noreferrer noopener"
        ><img src="../../../assets/icons8-facebook-500.png" alt="logoFacebook"
      /></a>
      <a
        href="https://www.instagram.com/caromaza"
        target="_blank"
        rel="noreferrer noopener"
        ><img
          src="../../../assets/icons8-instagram-500.png"
          alt="logoInstagram"
      /></a>
      <a
        href="https://github.com/CarolinaMaza"
        target="_blank"
        rel="noreferrer noopener"
        ><img src="../../../assets/icons8-github-500.png" alt="logoGitHub"
      /></a>
    </div>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="login()"
      *ngIf="!isLogged"
    >
      Login
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="onLogOut()"
      *ngIf="isLogged"
    >
      Logout
    </button>
  </div>
</div>
