.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoRedes{
    margin-right: 100px;
}   

.logoAP {
    width:180px;
    margin-top: 5px;
}

img {
    width:70px;
}

.btn {
    height: 50px;
    width: 70px;
}

    /*Para la vista del celular*/
@media (max-width: 575px){
    .container {
        flex-direction:column;
    }
    
    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .redes img {
        margin: 0.5em; /*Para que se adapte en función de la letra de la pantalla*/
    }    
}

