<div class="row">
    <h1>Educación</h1>
    <div>
        <ul>
            <li class="row">
                <img src="../../../assets/logoAPE.jpg" alt="Foto de estudio 1" class="col-2">
                <div class="col-10">
                <h2>Educación secundaria</h2> - <h3>(2008 - 2012)</h3>
                <p>Escuela Adolfo Pérez Esquivel 4-128</p>
                <p>Economía y gestión en las organizaciones</p>
                </div>
            </li>
            <li class="row">
                <img src="../../../assets/logoFCE.jpg" alt="Foto de estudio 2" class="col-2">
                <div class="col-10">
                <h2>Educación superior</h2> - <h3>(2014 - Actualidad)</h3>
                <p>Facultad de Ciencias Económicas - Universidad Nacional de Cuyo</p>
                <p>Contador Público Nacional y Perito Partidor</p>
            </div>
            </li>
        </ul>
    </div>
</div>