<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/nuevaexp"
      *ngIf="isLogged"
    >
      Add new
    </button>
  </div>

  <div class="row" *ngFor="let Experiencia of expe">
    <div class="col-xm-12 col-md-2" *ngIf="Experiencia">
      <img
        id="imagen"
        src="{{ Experiencia.imgEmpresaEx }}"
        alt="Logo de empresa"
        max-width="100px"
      />
    </div>
    <div class="col-xm-11 col-md-9">
      <p class="titulo">
        {{ Experiencia.tituloEx }} ({{ Experiencia.fechaInicioEx }} -
        {{ Experiencia.fechaFinEx }})
      </p>
      <p class="contenido">{{ Experiencia.empresaEx }}</p>
      <p class="contenido">{{ Experiencia.descripcionEx }}</p>
    </div>
    <div class="col-1 col-md-1" *ngIf="isLogged">
      <button class="btn btn-light" routerLink="/editexp/{{ Experiencia.id }}">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button class="btn btn-danger" (click)="delete(Experiencia.id)">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </div>
</div>
