<div class="row">
  <h1>Experiencia</h1>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/nuevaexp"
      *ngIf="isLogged"
    >
      Add Experiencia
    </button>
  </div>

  <div class="col lg 1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of expe">
          <td>{{ Experiencia.nombreE }}</td>
          <td>{{ Experiencia.descripcionE }}</td>
          <td *ngIf="isLogged">
            <!-- PARA CAMBIAR LOS ÍCONOS DE LOS BOTONES https://icons.getbootstrap.com/icons -->
            <button
              class="btn btn-light"
              routerLink="/editexp/{{ Experiencia.id }}"
            >
              Edit
              <i class="bi bi-pencil-square"></i>
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(Experiencia.id)">
              Delete
              <i class="bi bi-file-earmark-x"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div>
        <ul>
            <li class="row">
                <img src="../../../assets/logoFCE.jpg" alt="Foto de experiencia 1" class="col-2">
                <div class="col-10">
                <h2>Tutora en Módulo de Matemática </h2> - <h3>(2019 - Actualidad)</h3>
                <p>Facultad de Ciencias Económicas - Universidad Nacional de Cuyo</p>
            </div>
            </li>
            <li class="row">
                <img src="../../../assets/logoClinica.jpg" alt="Foto de experiencia 2" class="col-2">
                <div class="col-10">
                <h2>Pasante en Área de Contaduría </h2> - <h3>(Actualidad)</h3>
                <p>Clínica Santa Rosa</p>
                </div>
            </li>
        </ul>
    </div> -->
</div>
