<div class="row" *ngIf="persona">
  <!-- //Tuve que sacar conteiner fluid para eliminar la franja blanca -->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <img id="fotoPerfil" src="{{ persona.img }}" alt="Foto de Carolina Maza" />
    <p id="nombre">{{ persona.nombre }} {{ persona.apellido }}</p>
    <p id="titulo">{{ persona.titulo }}</p>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 div">
    <h1>Acerca de mí</h1>
    <img id="vineta" src="../../../assets/star.png" />
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/editacercade/1"
      *ngIf="isLogged"
    >
      Edit
    </button>
    <p>{{ persona.descripcion }}</p>
  </div>
</div>
