<div class="row">
  <!--tuve que sacar container-fluid para eliminar la franja blanca-->
  <h1>Hard & Soft Skills</h1>
  <div class="col-lg-2">
    <button
      type="button"
      routerLink="/newskill"
      class="btn btn-dark"
      *ngIf="isLogged"
    >
      Add Skill
    </button>
  </div>

  <div
    id="circulo"
    class="col-sm-3 col-md-3 col-lg-3"
    *ngFor="let skill of skill"
  >
    <circle-progress
      [percent]="skill.porcentaje"
      [maxPercent]="100"
      [radius]="100"
      [showTitle]="true"
      [title]="skill.nombre"
      [titleFontSize]="'30px'"
      [titleColor]="'black'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#AD8B73'"
      [innerStrokeColor]="'#FFFBE9'"
      [animation]="true"
      [animationDuration]="500"
      [outerStrokeGradient]="true"
      [outerStrokeGradientStopColor]="'#FFC4E1'"
      [outerStrokeColor]="'#FF87CA'"
      [outerStrokeLinecap]="'square'"
    ></circle-progress>
    <div>
      <td *ngIf="isLogged">
        <button class="btn btn-light" routerLink="/editskill/{{ skill.id }}">
          <i class="bi bi-pencil-square"></i>
        </button>
      </td>
      <td *ngIf="isLogged">
        <button class="btn btn-danger" (click)="delete(skill.id)">
          <i class="bi bi-file-earmark-x"></i>
        </button>
      </td>
    </div>
  </div>

  <!-- <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="60" 
        [maxPercent]="100"
        [radius]="100"
        [showTitle]="true"
        [title]="'HTML/CSS'"
        [titleFontSize]="'30px'"
        [titleColor]="'black'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#AD8B73'"
        [innerStrokeColor]="'#FFFBE9'"
        [animation]="true"
        [animationDuration]="500"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#FFC4E1'"
        [outerStrokeColor]="'#FF87CA'"
        [outerStrokeLinecap]="'square'"
        ></circle-progress>
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="70" 
            [maxPercent]="100"
            [radius]="100"
            [showTitle]="true"
            [title]="'Paquete Microsoft'"
            [titleFontSize]="'30px'"
            [titleColor]="'black'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#AD8B73'"
            [innerStrokeColor]="'#FFFBE9'"
            [animation]="true"
            [animationDuration]="500"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#CBA0AE'"
            [outerStrokeColor]="'#80558C'"
            [outerStrokeLinecap]="'square'"
            ></circle-progress>
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="40" 
        [maxPercent]="100"
        [radius]="100"
        [showTitle]="true"
        [title]="'Sistema Tiempo'"
        [titleFontSize]="'30px'"
        [titleColor]="'black'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#AD8B73'"
        [innerStrokeColor]="'#FFFBE9'"
        [animation]="true"
        [animationDuration]="500"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#C4D7E0'"
        [outerStrokeColor]="'#6E85B7'"
        [outerStrokeLinecap]="'square'"
        ></circle-progress>
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="50" 
        [maxPercent]="100"
        [radius]="100"
        [showTitle]="true"
        [title]="'Ingles'"
        [titleFontSize]="'30px'"
        [titleColor]="'black'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#AD8B73'"
        [innerStrokeColor]="'#FFFBE9'"
        [animation]="true"
        [animationDuration]="500"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#C6EBC9'"
        [outerStrokeColor]="'#70AF85'"
        [outerStrokeLinecap]="'square'"
        ></circle-progress>
    </div>
    <h2>Soft Skills</h2>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="90" 
        [maxPercent]="100"
        [radius]="100"
        [showTitle]="true"
        [title]="'Trabajo en equipo'"
        [titleFontSize]="'30px'"
        [titleColor]="'black'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#AD8B73'"
        [innerStrokeColor]="'#FFFBE9'"
        [animation]="true"
        [animationDuration]="500"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#C6EBC9'"
        [outerStrokeColor]="'#70AF85'"
        [outerStrokeLinecap]="'square'"
        ></circle-progress>
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="80" 
        [maxPercent]="100"
        [radius]="100"
        [showTitle]="true"
        [title]="'Comunicación'"
        [titleFontSize]="'30px'"
        [titleColor]="'black'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#AD8B73'"
        [innerStrokeColor]="'#FFFBE9'"
        [animation]="true"
        [animationDuration]="500"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#C4D7E0'"
        [outerStrokeColor]="'#6E85B7'"
        [outerStrokeLinecap]="'square'"
        ></circle-progress>
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="70" 
        [maxPercent]="100"
        [radius]="100"
        [showTitle]="true"
        [title]="'Adaptabilidad'"
        [titleFontSize]="'30px'"
        [titleColor]="'black'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#AD8B73'"
        [innerStrokeColor]="'#FFFBE9'"
        [animation]="true"
        [animationDuration]="500"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#CBA0AE'"
        [outerStrokeColor]="'#80558C'"
        [outerStrokeLinecap]="'square'"
        ></circle-progress>
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="75" 
        [maxPercent]="100"
        [radius]="100"
        [showTitle]="true"
        [title]="'Organización'"
        [titleFontSize]="'30px'"
        [titleColor]="'black'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#AD8B73'"
        [innerStrokeColor]="'#FFFBE9'"
        [animation]="true"
        [animationDuration]="500"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#FFC4E1'"
        [outerStrokeColor]="'#FF87CA'"
        [outerStrokeLinecap]="'square'"
        ></circle-progress>
    </div> -->
</div>
