<div class="row"> <!--tuve que sacar container-fluid para eliminar la franja blanca-->
    <h1>Hard & Soft Skills </h1>
    <h2>Hard Skills</h2>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [showSubtitle]="true"
            [subtitle]="'HTML'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#AD8B73'"
            [innerStrokeColor]="'#FFFBE9'"
            [animation]="true"
            [animationDuration]="500"
            [showImage]="true"
            [imageSrc]="'../../../assets/logoHTML.png'"
            [imageHeight]="100"
            ></circle-progress>
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#AD8B73'"
            [innerStrokeColor]="'#FFFBE9'"
            [animation]="true"
            [animationDuration]="500"
            [showImage]="true"
            [imageSrc]="'../../../assets/logoMO.png'"
            [imageHeight]="100"
            ></circle-progress>
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#AD8B73'"
            [innerStrokeColor]="'#FFFBE9'"
            [animation]="true"
            [animationDuration]="500"
            [showImage]="true"
            [imageSrc]="'../../../assets/logoTIEMPO.png'"
            [imageHeight]="100"
            ></circle-progress>
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [title]=" 'INGLES'"
            [titleColor]=" 'black' "
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#AD8B73'"
            [innerStrokeColor]="'#FFFBE9'"
            [animation]="true"
            [animationDuration]="500"
            [showImage]="true"
            [imageSrc]="'../../../assets/logoINGLES.png'"
            [imageHeight]="100"
    ></circle-progress>
    </div>
    <h2>Hard Skills</h2>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [title]=" 'Trabajo en equipo'"
            [titleColor]=" 'black' "
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#AD8B73'"
            [innerStrokeColor]="'#FFFBE9'"
            [animation]="true"
            [animationDuration]="500"
            [showImage]="true"
            [imageSrc]="'../../../assets/logoTEAM.png'"
            [imageHeight]="100"
    ></circle-progress>
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [title]=" 'Comunicación'"
            [titleColor]=" 'black' "
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#AD8B73'"
            [innerStrokeColor]="'#FFFBE9'"
            [animation]="true"
            [animationDuration]="500"
            [showImage]="true"
            [imageSrc]="'../../../assets/logoCOMUNICACION.png'"
            [imageHeight]="100"
    ></circle-progress>
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [title]=" 'Responsabilidad'"
            [titleColor]=" 'black' "
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#AD8B73'"
            [innerStrokeColor]="'#FFFBE9'"
            [animation]="true"
            [animationDuration]="500"
            [showImage]="true"
            [imageSrc]="'../../../assets/logoRESPONSABLE.png'"
            [imageHeight]="100"
    ></circle-progress>
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [title]=" 'Flexibilidad'"
            [titleColor]=" 'black' "
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#AD8B73'"
            [innerStrokeColor]="'#FFFBE9'"
            [animation]="true"
            [animationDuration]="500"
            [showImage]="true"
            [imageSrc]="'../../../assets/logoFLEXIBLE.png'"
            [imageHeight]="100"
    ></circle-progress>
    </div>
</div>
