.row {
    padding: 10px;
    background-color:rgba(218, 178, 115, 0.705);
    color:black; 
    font-size:medium; 
    display: flex;
    flex-direction:column;
    text-align: center;
    box-shadow: 0px 0px 5px white;
}