<div class="row"> <!--tuve que sacar container-fluid para eliminar la franja blanca-->
    <h1>Hard & Soft Skills </h1>
    <h2>Hard Skills</h2>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [title]=" '1 HS'"
            [titleColor]=" 'black' "
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#28DF99'"
            [innerStrokeColor]="'#99F3BD'"
            [animation]="true"
            [animationDuration]="500"
    ></circle-progress>
    <!--Para la imagen [imageShow]-->
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [title]=" '2HS'"
            [titleColor]=" 'black' "
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#28DF99'"
            [innerStrokeColor]="'#99F3BD'"
            [animation]="true"
            [animationDuration]="500"
    ></circle-progress>
    <!--Para la imagen [imageShow]-->
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [title]=" '3HS'"
            [titleColor]=" 'black' "
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#28DF99'"
            [innerStrokeColor]="'#99F3BD'"
            [animation]="true"
            [animationDuration]="500"
    ></circle-progress>
    <!--Para la imagen [imageShow]-->
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [title]=" '4HS'"
            [titleColor]=" 'black' "
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#28DF99'"
            [innerStrokeColor]="'#99F3BD'"
            [animation]="true"
            [animationDuration]="500"
    ></circle-progress>
    <!--Para la imagen [imageShow]-->
    </div>
    <h2>Hard Skills</h2>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [title]=" '1 SS'"
            [titleColor]=" 'black' "
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#28DF99'"
            [innerStrokeColor]="'#99F3BD'"
            [animation]="true"
            [animationDuration]="500"
    ></circle-progress>
    <!--Para la imagen [imageShow]-->
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [title]=" '2SS'"
            [titleColor]=" 'black' "
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#28DF99'"
            [innerStrokeColor]="'#99F3BD'"
            [animation]="true"
            [animationDuration]="500"
    ></circle-progress>
    <!--Para la imagen [imageShow]-->
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [title]=" '3SS'"
            [titleColor]=" 'black' "
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#28DF99'"
            [innerStrokeColor]="'#99F3BD'"
            [animation]="true"
            [animationDuration]="500"
    ></circle-progress>
    <!--Para la imagen [imageShow]-->
    </div>
    <div id = "circulo" class = "col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85" 
            [maxPercent]="100"
            [radius]="100"
            [showUnits]="false"      
            [title]=" '4SS'"
            [titleColor]=" 'black' "
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#28DF99'"
            [innerStrokeColor]="'#99F3BD'"
            [animation]="true"
            [animationDuration]="500"
    ></circle-progress>
    <!--Para la imagen [imageShow]-->
    </div>
</div>
