<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/newed"
      *ngIf="isLogged"
    >
      Add new
    </button>
  </div>

  <div class="row" *ngFor="let educacion of educacionList">
    <div class="col-xm-12 col-md-2" *ngIf="educacion">
      <img
        id="imagen"
        src="{{ educacion.imgInstitucionEd }}"
        alt="Logo de institucion"
        max-width="100px"
      />
    </div>
    <div class="col-xm-11 col-md-9">
      <p class="titulo">
        {{ educacion.tituloEd }} ({{ educacion.fechaInicioEd }} -
        {{ educacion.fechaFinEd }})
      </p>
      <p class="contenido">{{ educacion.institucionEd }}</p>
    </div>
    <div class="col-1 col-md-1" *ngIf="isLogged">
      <button class="btn btn-light" routerLink="/edited/{{ educacion.id }}">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button class="btn btn-danger" (click)="delete(educacion.id)">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </div>
</div>
