<div class="row">
    <h1>Experiencia</h1>
    <div>
        <ul>
            <li class="row">
                <img src="../../../assets/logoFCE.jpg" alt="Foto de experiencia 1" class="col-2">
                <div class="col-10">
                <h2>Tutora en Módulo de Matemática </h2> - <h3>(2019 - Actualidad)</h3>
                <p>Facultad de Ciencias Económicas - Universidad Nacional de Cuyo</p>
            </div>
            </li>
            <li class="row">
                <img src="../../../assets/logoClinica.jpg" alt="Foto de experiencia 2" class="col-2">
                <div class="col-10">
                <h2>Pasante en Área de Contaduría </h2> - <h3>(Actualidad)</h3>
                <p>Clínica Santa Rosa</p>
                </div>
            </li>
        </ul>
    </div>
</div>