<div class="row">
    <h1>Experiencia</h1>
    <div>
        <ul>
            <li class="row">
                <img src="../../../assets/LETRA-C.png" alt="Foto de experiencia 1" class="col-2">
                <div class="col-10">
                <h2>Experiencia 1</h2> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro possimus quis quae. Tempora incidunt delectus, labore quidem reiciendis maiores aliquam, illo natus, impedit sit totam magni nulla perspiciatis esse ut.</p>
                </div>
            </li>
            <li class="row">
                <img src="../../../assets/LETRA-C.png" alt="Foto de experiencia 2" class="col-2">
                <div class="col-10">
                <h2>Experiencia 2</h2> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro possimus quis quae. Tempora incidunt delectus, labore quidem reiciendis maiores aliquam, illo natus, impedit sit totam magni nulla perspiciatis esse ut.</p>
                </div>
            </li>
        </ul>
    </div>
</div>