<div class="row">
  <h1>Soft Skills</h1>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/newsfskill"
      *ngIf="isLogged"
    >
      Add new
    </button>
  </div>
</div>
<div class="row">
  <div
    class="circulo col-sm-6 col-md-4 col-lg-3"
    *ngFor="let SoftSkill of softSkill"
  >
    <circle-progress
      [title]="SoftSkill.nombreSf"
      [percent]="SoftSkill.porcentajeSf"
      [maxPercent]="100"
      [radius]="100"
      [showTitle]="true"
      [titleFontSize]="'30px'"
      [titleColor]="'black'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#AD8B73'"
      [innerStrokeColor]="'#FFFBE9'"
      [animation]="true"
      [animationDuration]="500"
      [outerStrokeGradient]="true"
      [outerStrokeGradientStopColor]="'#FFC4E1'"
      [outerStrokeColor]="'#FF87CA'"
      [outerStrokeLinecap]="'square'"
    >
    </circle-progress>
    <div class="circulo" *ngIf="isLogged">
      <button
        class="btn btn-light"
        routerLink="/editsfskill/{{ SoftSkill.id }}"
      >
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button class="btn btn-danger" (click)="delete(SoftSkill.id)">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </div>
</div>
